@using WebAPI.Api.Models
{
    @model IEnumerable<Usuarios>
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Email</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
